img {
  width: 45px;
  padding: 10px;
  padding-top: 5px;
}
a{
padding: 0;
margin:0;
border: 0;
}
table{
  background-color: black;
  padding-right: 35px;
}
body{
  background-color: #faf3f3;
  width: 345px;
}
h1{
  color:#3d84b8;
  font-size: 20px;
}
#logoimg{
  margin-top: 5px;
}
